[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tigerhitteR"]
	path = tigerhitteR
	url = https://github.com/aiien61/tigerhitter
